@{
    ViewData["Title"] = "UpdateMessage";
    Layout = "~/Views/Shared/_DashboardNavbar.cshtml";
}

<h1> Changes Succesfully Updated!! </h1>


<div>
<a asp-action="Dashboard">
    Return to Dashboard
</a>
</div>
